@model ReservacionHoteles.Models.GestionReserva

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Gestión de Reservas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraEntrada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraEntrada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraSalida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraSalida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hotel.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinos.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HabitacionesRefId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HabitacionesRefId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitaciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitaciones.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa1.Descripcion)
        </dd>
   @*     <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa2.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa3.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa4.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa5.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa6.Descripcion)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-edit">Editar</a>
    <a asp-action="Index" class="btn btn-back">Volver</a>
</div>
<style>
    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        transition: background 0.3s ease;
    }

    .btn-edit {
        background-color: #3498db;
    }

        .btn-edit:hover {
            background-color: #2980b9;
        }

    .btn-back {
        background-color: darksalmon;
    }

        .btn-back:hover {
            background-color: burlywood;
        }
</style>