@model IEnumerable<ReservacionHoteles.Models.ListaPrecio>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Precios</h1>
<p>
    <div class="row">
        <div class="col-sm">
            <a asp-action="Create" class="btn btn-create">Nueva Lista</a>
            &nbsp;&nbsp;
            <a asp-action="ImportarListaPrecio" class="btn btn-success">Importar</a>
        </div>
    </div>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CondicionPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CondicionPago.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-detail">Detalles</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        function mostrarDatos() {
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])

            fetch("/ListaPrecios/MostrarDatos",
                {
                    method: "POST",
                    body: formData
                })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    dataJson.forEach((item) => {
                        $("#tbData tbody").append(
                            $("<tr>").append(
                                $("<td>").text(item.Descripcion),
                                $("<td>").text(item.FechaHasta),
                                $("<td>").text(item.CondicionPagoRefId),
                                $("<td>").text(item.Precio)
                            )
                        )
                    })
                })
        }


        function enviarDatos() {
            const input = document.getElementById("inputExcel")

            const formData = new FormData()

            formData.append("ArchivoExcel", input.files[0])

            fetch("ListaPrecios/EnviarDatos", {
                method: "POST",
                body: formData
            })
                .then((response) => { return response.json() })
                .then((dataJson) => {
                    alert(dataJson.mensaje);
                })
        }

    </script>
 }
<style>
    .btn {
        display: inline-block;
        padding: 10px 20px;
        margin: 5px;
        font-size: 1rem;
        font-weight: bold;
        text-decoration: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        color: white;
        transition: background 0.3s ease;
    }

    .btn-create {
        background-color: cornflowerblue;
    }

        .btn-create:hover {
            background-color: cornflowerblue;
        }

    .btn-edit {
        background-color: #3498db;
    }

        .btn-edit:hover {
            background-color: #2980b9;
        }


    .btn-delete {
        background-color: #e74c3c;
    }

        .btn-delete:hover {
            background-color: #c0392b;
        }

    .btn-detail {
        background-color: #2ecc71;
    }

        .btn-detail:hover {
            background-color: #27ae60;
        }

    .button-container {
        display: flex;
        gap: 10px;
    }

</style>